/*This file is an example of how more than one media parameters for more than one media
type can be included in the same css file.*/

@media print{
  .banner {
      display: none;
  }

  a {
      color:#000;
      text-decoration: none;
  }
}

@media screen {
    .banner {
      width: 100%;
      display: block;
    }
}

@media only screen and (,ax-width: 768px)  {
    .banner {
      width: 50%;
      display: inline-block;
    }
}
