@import url(https://fonts.googleapis.com/css?family=Bitter);



h1 {
  color:#000;
  text-align: center;
}


html {
  background: url(lightblue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Bitter', serif;
    }

.container {
width: 700px;
margin:0 auto;
}

.contents {
  text-align: center;
}

p:first-child:first-letter {
       font-size: 200%;
       }

       img {
          border:2px solid #021a40;
          margin: 10px;
       }
#stars {
          text-align: center
       }
