<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Document</title>
</head>
<body>
    <h1>
      You rolled! Here are your results!
    </h1>

    <h2>
      Your number is:
    </h2>

    <p>
        <%= rolledNumber %>
    </p>
</body>
</html>
