
<!DOCTYPE html>
<html>
<head>
<!-- call the ejs to include command and provide the path to the partial to include. Path is relative to this file. -->

<!-- Include our head.ejs  -->
    <% include ../partials/head %>
</head>
<body>
  <header>
    <!-- Include the header of the page. -->
    <% include ../partials/header %>
  </header>

    <h1>Hello!</h1>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
