
body {
  background-image: url("https://unsplash.it/1300/777.3?image=353");
  background-repeat: no-repeat;
}

.header {
  background-color: #000;
  height: 60px;
  width: 1300px;
  font-family: sans-serif;
  color: #fff;
  font-size: 25px;
  letter-spacing: -1.9px;
  font: arial;
  padding-left: 78px;
  padding-top: 13px;
  box-sizing: border-box;
  }

.navbar {
  background-color: #2c2c2c;
  height: 25px;
  font-family: sans-serif;
  font: arial;
  color: #969695;
  height: 44px;
  width: 1300px;
  font-size: 13px;
  letter-spacing: 0.2px;
  padding-left: 78px;
  padding-right: 200px;
  padding-top: 14px;
  padding-bottom: 14px;
  box-sizing: border-box;
}

.navbar
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  li a {
    display: block;
    width: 100px;
    color: #969695;
    font: arial;
    font-weight: bold;
}

  li {
    display: inline-block;
}

.hero {
  width: 1300px;
  height: 777.3px;
}

#newsite {
  font-family: OpenSans, sans-serif;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: -0.9px;
  color: #fff;
  padding-top: 182px;
  padding-left: 96.5px;
}

#signup {
  font-family: OpenSans, sans-serif;
  font-size: 19px;
  letter-spacing: -1px;
  color: #fff;
  padding-bottom: 443px;
  padding-left: 97px;
}

.form {
  padding-top: 400px;
  padding-left: 96px;
}

#subscribe-box {
    padding-right: 30;
    text-align: center;
    font-size: 14;
    width: 426px;
    height: 52px;
    border-radius: 3px;
    background-color: #fff;
  }
  #button {
    font-size: 17;
    background-color: gray;
    border-color: gray;
    width: 114px;
    height: 52px;
    border-radius: 3px;
    background-color: #000;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    letter-spacing: -0.9px;
    color: #fff;
  }
/*Find out why I had to pad from the bottom...top didn't work.*/
/*#emailfield {
  width: 426px;
  height: 52px;
  border-radius: 3px;
  background-color: #ffffff;
  padding-left: 96px;
  padding-bottom: 300px;
}*/
.section-2 {
  width: 1300px;
  height: 343px;
  background-color: #fbfbfb;
}

#a2a  {
  width: 342px;
  height: 90px;
  font-family: OpenSans-Light, sans-serif;
  font-size: 33px;
  letter-spacing: -0.1px;
  color: #2c2c2c;
  padding-left: 80px;
  padding-top: 105px;

}

#b2b {
  width: 757px;
  height: 74.6px;
  font-family: OpenSans, sans-serif;;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.1px;
  color: #626262;
}

.gallery {
  		display: flex;
			flex-wrap: wrap;
			margin-top: -100px;
}
